include ../head.pug
body
   .container
      div.event-title-content
          h1 Event List
          a.btn-add(href='/add', role='button') Add      
      table.event-table
        thead
          tr
            th(scope="col") ID
            th(scope="col") Event Name
            th(scope="col") Event DateTime
            th(scope="col") Event Location
            th(scope="col") Event Description
            th(scope="col") Actions
        tbody
      
      h3 This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
script(src="/js/homePage.js")
     